<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="shar384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" 
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    <link rel="stylesheet" href="style1.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" 
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>



</head>
<body>
    <header>
        <div class="container p-0">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#"><i class="bi bi-book-fill navbar-brand-icon"></i>LEARNING</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-right text-light"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="mr-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Service</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                    <button class="btn btn-login">
                        Login
                    </button>

                    <button class="btn btn-register">
                        Register
                    </button>
                </ul>
                </div>
            </nav>
        </div>
        <div style = 'height: 100px;'></div>
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <h1 class="col-7-title">Learn more and make success the result</h1> 
                </div>
                <div class="col-5">
                    <h4 class="col-5-title">- The best E-Learning Platform</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua eiusmod tempor eiusmod.
                    </p>
                    <button class="btn-course">
                       Show all Courses
                    </button>
                </div>
            </div>
        </div>

        <div style="height: 100px;"></div>

        <div class="container text-center">
            <div class="row">
                <div class="col-10">
                    <img style = 'width: 100%' src="2a.PNG">  
                </div>
                <div class="col-2">
                    <br><br>
                    <h3 class="col-2-h3">15+</h3>
                    <span class="col-2-p">Total branches opened in last year</span><br><br><br>
                    <h3 class="col-2-h3">5K+</h3>
                    <span class="col-2-p">New students in last 30 days</span><br><br><br>
                    <h3 class="col-2-h3">1.5K+</h3>
                    <span class="col-2-p">New students in last 30 days</span><br>
                </div>
            </div>
        </div>   
    </header>
    <div style = 'height: 100px;'></div>
    <main>
        <section class="section-1">
            <div class="container text-center">
                <div style="width: 50%; margin: auto">
                    <h1 class = 'cl-secondary' style="font-weight: bold;">Our Featured Courses</h1>
                    <p>Loreum ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua eiusmod tempor eiusmod.
                    </p>
                </div>
            </div>
            <div style = 'height: 50px;'></div>
            <div style = 'margin:auto' class="team row container">
                <div class="col-md-4 col-12" style = 'padding-left: 0px; padding-right: 0px;'>
                    <div class = 'name-course-color'>
                        <img width = '100%' src="unnamed (5).png" alt="">
                        <div style="margin-top: 15px; overflow: auto">
                            <div class="name-course">Development</div>
                            <div class="price-course">$225</div>
                        </div>
                        <div style="margin-top: 5px;">
                            <p>Become a professional designer be with passioin & dignity</p>
                        </div>
                        <div style=" overflow: auto">
                            <div style="width: fit-content; float: left"><i class="bi bi-book-fill"></i> 20 lessons</div>
                            <div style="width: fit-content; float: right"><i class="bi bi-people-fill"></i> 237 Students</div>
                        </div>
                        <div style="margin-top: 30px">
                            <span>5.0
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> (2,589)</span>
                        </div>
                        <div class="course-arrow">
                            <img src="unnamed (6).png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12" style = 'padding-left: 0px; padding-right: 0px;'>
                    <div class = 'name-course-color'>
                        <img width = '100%' src="unnamed.png" alt="">
                        <div style="margin-top: 15px; overflow: auto">
                            <div class="name-course">UI/UX</div>
                            <div class="price-course">$180</div>
                        </div>
                        <div style="margin-top: 5px;">
                            <p>Java programming A-Z fully classes with full task</p>
                        </div>
                        <div style=" overflow: auto">
                            <div style="width: fit-content; float: left"><i class="bi bi-book-fill"></i> 20 lessons</div>
                            <div style="width: fit-content; float: right"><i class="bi bi-people-fill"></i> 237 Students</div>
                        </div>
                        <div style="margin-top: 30px">
                            <span>5.0
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> (1,5559)</span>
                        </div>
                        <div class="course-arrow">
                            <i class="bi-arrow-right-circle-fill" style="color: var(--primary)"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12" style = 'padding-left: 0px; padding-right: 0px;'>
                    <div class = 'name-course-color'>
                        <img width = '100%' src="unnamed (1).png" alt="">
                        <div style="margin-top: 15px; overflow: auto">
                            <div class="name-course">Art & Craft</div>
                            <div class="price-course">$225</div>
                        </div>
                        <div style="margin-top: 5px;">
                            <p>You will fell in love with this mustly if you have desire</p>
                        </div>
                        <div style=" overflow: auto">
                            <div style="width: fit-content; float: left"><i class="bi bi-book-fill"></i> 20 lessons</div>
                            <div style="width: fit-content; float: right"><i class="bi bi-people-fill"></i> 237 Students</div>
                        </div>
                        <div style="margin-top: 30px">
                            <span>5.0
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> (4,4000)</span>
                        </div>
                        <div class="course-arrow">
                            <img src="unnamed (6).png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12" style = 'padding-left: 0px; padding-right: 0px;'>
                    <div class = 'name-course-color'>
                        <img width = '100%' src="unnamed (2).png" alt="">
                        <div style="margin-top: 15px; overflow: auto">
                            <div class="name-course">Lifestyle</div>
                            <div class="price-course">$228</div>
                        </div>
                        <div style="margin-top: 5px;">
                            <p>Be passionated with your regularly exercise and stay fit</p>
                        </div>
                        <div style=" overflow: auto">
                            <div style="width: fit-content; float: left"><i class="bi bi-book-fill"></i> 20 lessons</div>
                            <div style="width: fit-content; float: right"><i class="bi bi-people-fill"></i> 237 Students</div>
                        </div>
                        <div style="margin-top: 30px">
                            <span>5.0
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> (2,539)</span>
                        </div>
                        <div class="course-arrow">
                            <img src="unnamed (6).png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12" style = 'padding-left: 0px; padding-right: 0px;'>
                    <div class = 'name-course-color'>
                        <img width = '100%' src="unnamed (3).png" alt="">
                        <div style="margin-top: 15px; overflow: auto">
                            <div class="name-course">Business</div>
                            <div class="price-course">$320</div>
                        </div>
                        <div style="margin-top: 5px;">
                            <p>Grow your business by mastered in some technique</p>
                        </div>
                        <div style=" overflow: auto">
                            <div style="width: fit-content; float: left"><i class="bi bi-book-fill"></i> 20 lessons</div>
                            <div style="width: fit-content; float: right"><i class="bi bi-people-fill"></i> 237 Students</div>
                        </div>
                        <div style="margin-top: 30px">
                            <span>5.0
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> (2,3399)</span>
                        </div>
                        <div class="course-arrow">
                            <img src="unnamed (6).png" alt="">
                        </div>
                    </div>
                </div>      
                <div class="col-md-4 col-12" style = 'padding-left: 0px; padding-right: 0px;'>
                    <div class = 'name-course-color'>
                        <img width = '100%' src="unnamed (4).png" alt="">
                        <div style="margin-top: 15px; overflow: auto">
                            <div class="name-course">Marketing</div>
                            <div class="price-course">$225</div>
                        </div>
                        <div style="margin-top: 5px;">
                            <p>Top 10 tips to grow up audience to progress business</p>
                        </div>
                        <div style=" overflow: auto">
                            <div style="width: fit-content; float: left"><i class="bi bi-book-fill"></i> 20 lessons</div>
                            <div style="width: fit-content; float: right"><i class="bi bi-people-fill"></i> 237 Students</div>
                        </div>
                        <div style="margin-top: 30px">
                            <span>5.0
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> (4,5609)</span>
                        </div>
                        <div class="course-arrow">
                            <img src="unnamed (6).png" alt="">
                        </div>
                    </div>
                </div>                    
            </div>
        </section>
        <div style = 'height: 100px;'></div>
        <section class="section-2 container p-0">
            <div class = 'row'>
                <div class = "col-6">
                    <div class="cover">
                        <div class="content text-left">
                            <h1><b class="cl-secondary">We Make Your Learning Through Awesome</b></h1><br>
                            <div style="font-size: 12px">
                                <p>Loreum ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                                    labore et dolore magna aliqua eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod
                                </p> 
                                <p>Loreum ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                                    et dolore magna aliqua. Ut enim
                                </p>
                        </div>
                        </div>
                    </div>
                    <br>
                    <div >
                        <div class="rect-quantity" style="margin: 0;">
                            <h1>15k+</h1>
                            <p>Student</p>
                        </div>
                        <div class="rect-quantity">
                            <h1>125+</h1>
                            <p>Courses</p>
                        </div>
                        <div class="rect-quantity">
                            <h1>200+</h1>
                            <p>Countries</p>
                        </div>
                    </div>
                </div>
                <div class = 'col-6'>
                    <div>
                        <div style = 'overflow: auto'>
                            <div class = 'icon-Awesome' style = 'background-color: #ffd235'>
                                <i class="fas fa-video fa-1x"></i>
                            </div>
                            <div class = 'text-Awesome'>
                                Over 5.8k <br> Video Courses
                            </div>
                        </div>
                        <div style="margin-top: 15px;">
                            <p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliqua eiusmod. Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </p>
                        </div>
                    </div>
                    <div>
                        <div style = 'overflow: auto'>
                            <div class = 'icon-Awesome' style = 'background-color: #a548f8'>
                                <i class="fas fa-award fa-1x"></i>
                            </div>
                            <div class = 'text-Awesome'>
                                World Best<br> Instructors Courses
                            </div>
                        </div>
                        <div style="margin-top: 15px;">
                            <p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliqua eiusmod. Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </p>
                        </div>
                    </div>
                    <div>
                        <div style = 'overflow: auto'>
                            <div class = 'icon-Awesome' style = 'background-color: #40cbff'>
                                <i class="fas fa-check fa-1x"></i>
                            </div>
                            <div class = 'text-Awesome'>
                                Over 20k<br> Active Student
                            </div>
                        </div>
                        <div style="margin-top: 15px;">
                            <p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliqua eiusmod. Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </p>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <div style = 'height: 100px;'></div>
        <section class="section-3">
            <div class="container text-center">
                <h1 style="font-weight: bold;" class="best-book">Some Best Books</h1>
                <p style="width: 50%; margin: auto" class="pt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy
                </p>
            </div>
           
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3 col-12">
                        <div>
                            <img src="2h.PNG" width="100%">
                        </div>
                    </div>
                           
                    <div class="col-md-3 col-12">
                        <div>
                            <img src="2i.PNG" width="100%">
                        </div>
                    </div>
                           
                    <div class="col-md-3 col-12">
                        <div>
                            <img src="2j.PNG" width="100%">
                        </div>
                    </div>
                
                    <div class="col-md-3 col-12">
                        <div>
                            <img src="2k.PNG" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div style="height: 100px;"></div>
        <section class="section-4 container">
            <div class="row">
                <div class="col-md-6">
                    <div class="get-close">
                        <h1 style="font-weight: bold; color: var(--secondary);">Get more close with your courses.</h1><br>
                        <p class="more-course">Loreum ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                            labore et dolore magna aliqua eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod 
                            <br><br>
                            Loreum ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                            et dolore magna aliqua. Ut enim
                        </p>
                        <div class="check-course">
                            <i class="bi-check-circle-fill"></i><b>Detail description of each course</b><br>
                            <i class="bi-check-circle-fill"></i><b>Easy to understand language</b><br>
                            <i class="bi-check-circle-fill"></i><b>Simply and easy to learn courses.</b><br>
                            <button>
                                Start Learning Now
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card-img-top">
                        <img src="2n.PNG" class="">
                    </div>
                    <div class="card-img-bot">
                        <img src="2l.PNG" class="">
                    </div>     
                </div>
            </div>   
            <div style="height: 100px;"></div>
            <section class="section-5 container">
                <div class="row background-img-2o">
                    <div class="col-md-8">
                        <h1>Ready to join...</h1>
                        <p>Aenen tempor torotr in metus pretium, sed faucibus <br> ligula accumsan vivamus consequat.
                        </p>
                    </div>
                    <div class="col-md-4" style="text-align: center;">
                        <button>Register Now</button>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <div style="height: 100px;"></div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="title-footer"><i class="bi bi-book-fill navbar-brand-icon"></i>
                        <span style="color: var(--secondary); font-size: 22px;">LEARNING</span></h4>
                    <p style="margin-top: 20px; margin-bottom: 15px;">Fuses sit amet justo enimsed ullsmcorper 
                        sem ut set scelerisque Fuses sit amet justo scelerisque Fuses scelerisque
                    </p>
                    <div class="icon-social">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-linkedin" style="color: var(--primary);"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest"></i>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 class="title-footer">Category</h4>
                    <ul class="list-footer">
                    <li>Privacy & Policy</li>
                    <li>Terms & Condition</li>
                    <li>Customer Support</li>
                    <li>For Business</li>
                    <li>Support</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="title-footer">Useful Links</h4>
                    <ul class="list-footer">
                    <li>About Us</li>
                    <li>Refer A friend</li>
                    <li>Scholarship</li>
                    <li>Marketing</li>
                    <li>Free Courses</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="title-footer">Contact Us</h4> 
                    <ul class="list-footer">
                        <li><i class="bi-telephone-fill"></i>01719534287</li>
                        <li><i class="bi-geo-alt-fill"></i>Rangpur, Bangladesh</li>
                        <li><i class="bi-envelope-fill"></i>wpdshariar656@gmail.com</li>
                </ul>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <hr style="width: 70%">
            <span style="font-size: 12px;">© Copyright 2021 Softfounder (www.softfounder.com) - 
                Email: wpdshariar565@gmail.com
            </span>
        </div>
    </footer>

</body>
</html>