.main-header{
    text-align: center;
    background-color:#275c87 ;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;

    
}

body{
    margin: 0px;
}

.nav {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.5s; 

}

.nav:hover{
    color: #275c87;
    background-color: white;
}

.div-nav{
    width: fit-content;
}