* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.my-main-header {
    text-align: center;
    background-color:#275c87 ;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 21px; 
    box-sizing: content-box;
}

body {
    margin: 0px;
}

.my-nav {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.5s; 
}

.my-nav:hover{
    color: #275c87;
    background-color: white;
}

.my-div-nav{
    width: 150px;
    position: relative;
    float:left;
}

.my-sub-menu{
    width: 200px;
    position: absolute;
    left: 0;
    background-color: white;
    opacity: 0;
    transform: scale(0);
    text-align: left;
    border: 1px solid grey;
    padding: 5px;
    transition: opacity 0.3s;
}

.my-sub-nav{
    color: #275c87;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-bottom: 1px solid silver;
}
.my-div-nav:hover .my-sub-menu{
    opacity: 1;
    transform: scale(1);
    top: 25px;

}

.my-last-sub-nav{
    border-bottom: 0;
}

.my-sub-nav:hover{
    color: white;
    background-color: #275c87;
}

.logo{
    position: absolute;
    left: 10px;
    top: 2px;
}

.slider{
    /* height: 400px; */
    width: 1000px;
    max-width: 100%;
    margin: auto;
    position: relative;
}

.slider-inner{
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    background-size: 100%;
    transition: all .5s;
}

.slider-inner:first-child {
    position: relative;
}

.slider-inner.active{
    opacity: 1;
}

.slider-inner img {
    width: 100%;
}

.slider .alright{
    position: absolute;
    right: 10px;
    top: 183px;
    font-size: 30px;
    opacity: 0;
    transition: all 0.5s;
    color: lightcoral;
}

.slider:hover .alright{
    opacity: 1;
}

.slider:hover .alright:hover{
   color: white;
    background-color: pink;
}
.slider .alleft{
    position: absolute;
    left: 10px;
    top: 183px;
    font-size: 30px;
    opacity: 0;
    transition: all 0.5s;
    color: lightcoral;
}

.slider:hover .alleft{
    opacity: 1;
}

.slider:hover .alleft:hover{
    color: white;
     background-color: pink;
 }


.row{
    max-width: 100%;
    width: 1000px;
    margin: auto;
    height: fit-content;
    overflow: auto;
}

.left, .right{
    width: 48%;
    float: left;
}

.left{
    margin-right: 1%;
    padding-left: 2%;
}

.right{
    margin-left: 1%;
}

body{
    background-color: #f7cbd3;
}

button {
    background-color: white;
    border: 0;
    font-size: 14px;
    padding: 10px;

}

.AboutUs {
    background-color: lightsteelblue;
  
}

.Dir{
    background-color: darkcyan;
}

.Dir:hover{
    background-color: cornflowerblue;
}

.item{
    width: 24%;
    float: left;
    margin: 0.5%;
    background-color: white;
    min-height: 100%;
    height: 100%;
    
}

.Blog{
    max-width: 100%;
    width: 1000px;
    margin: auto;
    
    overflow: auto;
    display: flex;
}

.item img{
    width: 100%;
}

.text{
    text-align: justify;
    padding: 5px;
}

.Some{
    width: 20%;
    float: left;
}

.Some img{
    width: 100%;
    transition: all 0.5s;
}

.Follow{
    width: 1280px;
    max-width: 100%;
    margin: auto;
    height: 300px;
}

.Topic{
    text-align: center;
    font-size: 25px;
    color: blueviolet;
}

.Some img:hover{
    transform: scale(1.2);
    
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
}

.Footer .Care{
    width: 25%;
    float: left;
}

.Footer .Care p {
    line-height: 25px;
}

.Footer .Care h3 {
    margin-bottom: 15px;
}

.Footer .Care .Email {
    margin-bottom: 15px;
}

.Footer{
    margin: auto;
    max-width: 1140px;
    overflow: auto;

}

body {
    position: relative;
    min-height: 100vh;
}

.backgroundfooter{
    background-color: beige;
    margin-top: 10px;
}

.Email button:hover{
    background-color: burlywood;
   
}

.Email button{
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;

}

.Email input{
    border: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    

}

.Email{
    background-color: white;
    width: fit-content;
    padding: 10px;
    border-bottom: 1px solid silver;
}

.Email input:focus{
    outline: 0;
}

.icon{
    transition: 0.5s;
}

.icon:hover{
    font-size: 25px;
}

.product {
    border: 1px solid grey;
}

.menu-title {
    color:red;
    font-weight: bold;
    margin: 15px auto;
}

.order-input {
    width: 100%;
}

.order-submit {
    padding: 5px 20px;
    background-color: lightcyan;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.order-submit:hover {
    background-color: rgb(150, 255, 255);
}

.order-picture {
    position: relative;
}

.order-menu {
    width: 100%;
}

.order-menu:not(:first-child) {
    
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
}

.price-total {
    padding: 0;
    font-weight: bold;
    font-size: 20px;
}

.outside-order {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}

.icon-check {
    color: green;
    cursor: pointer;
}

.menu-icon-list {
    display: none;
}