.main-header {
    text-align: center;
    background-color:#275c87 ;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 21px; 
    
}

body {
    margin: 0px;
}

.nav {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.5s; 
}

.nav:hover{
    color: #275c87;
    background-color: white;
}

.div-nav{
    width: 150px;
    position: relative;
    float:left;
}

.sub-menu{
    width: 200px;
    position: absolute;
    left: 0;
    background-color: white;
    opacity: 0;
    transform: scale(0);
    text-align: left;
    border: 1px solid grey;
    padding: 5px;
    transition: opacity 0.3s;
}

.sub-nav{
    color: #275c87;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-bottom: 1px solid silver;
}
.div-nav:hover .sub-menu{
    opacity: 1;
    transform: scale(1);
    top: 25px;

}

.last-sub-nav{
    border-bottom: 0;
}

.sub-nav:hover{
    color: white;
    background-color: #275c87;
}

.logo{
    position: absolute;
    left: 10px;
    top: 2px;
}

.slider{
    height: 400px;
    width: 1000px;
    max-width: 100%;
    margin: auto;
    position: relative;
}

.slider-inner{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    background-size: 100%;
    transition: all .5s;
}

.slider-inner.active{
    opacity: 1;
}

.slider .alright{
    position: absolute;
    right: 10px;
    top: 183px;
    font-size: 30px;
    opacity: 0;
    transition: all 0.5s;
    color: lightcoral;
}

.slider:hover .alright{
    opacity: 1;
}

.slider:hover .alright:hover{
   color: white;
    background-color: pink;
}
.slider .alleft{
    position: absolute;
    left: 10px;
    top: 183px;
    font-size: 30px;
    opacity: 0;
    transition: all 0.5s;
    color: lightcoral;
}

.slider:hover .alleft{
    opacity: 1;
}

.slider:hover .alleft:hover{
    color: white;
     background-color: pink;
 }

.si1{
    background-image: url("2.jpg"); 
    background-repeat: no-repeat;
   
}



.si2{
    background-image: url("3.jpg"); 
    background-repeat: no-repeat;
}

.si3{
    background-image: url("4.jpg"); 
    background-repeat: no-repeat;
}

.row{
    max-width: 100%;
    width: 1000px;
    margin: auto;
    height: fit-content;
    overflow: auto;
}

.left, .right{
    width: 48%;
    float: left;
}

.left{
    margin-right: 1%;
    padding-left: 2%;
}

.right{
    margin-left: 1%;
}

body{
    background-color: #f7cbd3;
}

button {
    background-color: white;
    border: 0;
    font-size: 14px;
    padding: 10px;

}

.AboutUs {
    background-color: lightsteelblue;
  
}

.Dir{
    background-color: darkcyan;
}

.Dir:hover{
    background-color: cornflowerblue;
}

.item{
    width: 24%;
    float: left;
    margin: 0.5%;
    background-color: white;
    min-height: 100%;
    height: 100%;
    
}

.Blog{
    max-width: 100%;
    width: 1000px;
    margin: auto;
    
    overflow: auto;
    display: flex;
}

.item img{
    width: 100%;
}

.text{
    text-align: justify;
    padding: 5px;
}

.Some{
    width: 20%;
    float: left;
}

.Some img{
    width: 100%;
    transition: all 0.5s;
}

.Follow{
    width: 1280px;
    max-width: 100%;
    margin: auto;
    height: 300px;
}

.Topic{
    text-align: center;
    font-size: 25px;
    color: blueviolet;
}

.Some img:hover{
    transform: scale(1.2);
    
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
}

.Footer .Care{
    width: 25%;
    float: left;

}

.Footer{
    margin: auto;
    width: 1280px;
    overflow: auto;

}

body {
    position: relative;
    min-height: 100vh;
}

.backgroundfooter{
    background-color: beige;
    margin-top: 10px;
}

.Email button:hover{
    background-color: burlywood;
   
}

.Email button{
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;

}

.Email input{
    border: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    

}

.Email{
    background-color: white;
    width: fit-content;
    padding: 10px;
    border-bottom: 1px solid silver;
}

.Email input:focus{
    outline: 0;
}

.icon{
    transition: 0.5s;
}

.icon:hover{
    font-size: 25px;
}

.product {
    border: 1px solid grey;
}